body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: sans-serif;
}
h1{
    color: white;
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
}
h3{
    color: white;
}

.mainDiv{
    border-radius: 20px;
    border: 7px solid white;
    box-shadow: 0px 0px 5px black;
    background-color: #1D2230;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 65px;
}
.passGent{
    width: 250px;
    font-size: larger;
    background-color: #00BC78;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #00BC78;
    color: whitesmoke;
    margin: 5px;
}
.pdiv{
    display: flex;
    justify-content: space-around;
}
.pbox{
    background-color: #262B41;
    width: 250px;
    height: 40px;
    border: none;
    color: #00BC78;
    font-size: larger;
    margin: 0;
}
.passGent:active, .pbox:active{
    border: 1px solid whitesmoke;
}
.pbox:hover::after {
    content: attr('copy');
}
hr {
    width: 600px;
    margin: 50px auto; 
    border: none;
    border-top: 1px solid gray; 
}

#green{
    color: #0dc754;
}
